################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/TensorFlowLearning/TensorFlowLearning/logs/events.out.tfevents.1528815965.DESKTOP-38UJOCC
